---
import { Picture } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import Link from '@components/ui/link.astro'
import { Icon } from 'astro-icon'
import Cta from '@components/cta.astro'
import heroAI from '../assets/hero-ai.svg'
import Quote from '@components/quote.astro'
import SimonMehlman from '../assets/people/simon-mehlman-headshot.jpg'
---

<Layout title="AI Development" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="badge">AI Solutions</Fragment>
      <Fragment slot="title">Your AI Development Partner</Fragment>
      <Fragment slot="desc">
        Unlock the power of Artificial Intelligence with our custom development
        solutions. From chatbots to natural language processing, we can help you
        integrate AI into your business.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 py-10">
      <div class="grid place-items-center">
        <div class="max-w-lg">
          <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
            AI Development with 4DPrime
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            <strong
              >AI can boost productivity by 10-100 times and rocket profits and
              customer satisfaction</strong
            >. Our team of experts can help you build custom AI solutions that
            fit your business needs. From chatbots to natural language
            processing, we can integrate AI into your existing systems and boost
            your business.
          </p>

          <h4 class="text-1xl font-medium mt-4 [text-wrap:balance]">
            Custom Agents
          </h4>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            We develop AI Agents that will revolutionise your business by
            automating repetitive tasks and analyzing data to make informed
            decisions. These intelligent agents can enhance efficiency, improve
            customer satisfaction, and drive business growth by leveraging
            machine learning algorithms and natural language processing
            capabilities.
          </p>

          <h4 class="text-1xl font-medium mt-4 [text-wrap:balance]">
            AI Chatbots
          </h4>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            Our AI chatbots can be integrated into your existing systems to
            provide 24/7 support. With custom contexts and machine learning
            algorithms, our chatbots can learn and improve over time.
          </p>

          <h4 class="text-1xl font-medium mt-4 [text-wrap:balance]">
            Advanced Analytics
          </h4>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            Our team of experts can help you build custom analytics solutions
            that provide valuable insights into your business. From data
            visualization to predictive modeling, we can help you make informed
            decisions.
          </p>

          <Quote
            class="mt-8 block"
            bubbleClass="bg-yellow-50 text-slate-600"
            title="Simon Mehlman, Group Marketing Manager at Ascribe"
            image={SimonMehlman}>
            4DPrime is one of those rare companies that manages to treat
            customers with both professionalism and a personalised, caring
            service.<br /><br />I have been consistently impressed by their
            creativity, their helpfulness and the guidance of their technical
            support teams throughout the construction and launch of our new
            corporate web presence.
          </Quote>
        </div>
      </div>
      <div class="md:ml-10">
        <Picture
          src={heroAI}
          alt="Feature Image"
          formats={['avif', 'webp']}
          width="640"
          loading="lazy"
        />
        <div class="max-w-lg md:mt-10">
          <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
            What Makes our AI Solutions Different?
          </h3>
          <p class="mt-4 text-slate-600 [text-wrap:balance]">
            We put the intellegence in Artiffical Intelligence by developing
            powerful integrations with your existing systems and processes. Data
            privacy is a key part of our AI solutions, with options to self
            host, region lock data and more.
          </p>

          <ul class="grid mt-6 text-left gap-y-4">
            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-4 h-4 flex-shrink-0" />
              <span class="text-sm"
                >AI Agents that can integrate with your existing systems and
                processes to perform repetitive and complex tasks</span
              >
            </li>

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-4 h-4 flex-shrink-0" />
              <span class="text-sm"
                >AI Chat Bots that understand your products and services to
                provide a more human customer service experience</span
              >
            </li>

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-4 h-4 flex-shrink-0" />
              <span class="text-sm"
                >Ensure Data Security with self hosted, custom hosted or region
                locked data</span
              >
            </li>
          </ul>
        </div>
        <div class="flex items-center gap-4 mt-6">
          <Link
            href="/contact"
            size="sm"
            class="inline-flex items-center group gap-px">
            <span>Find out how AI can boost your business</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </Link>
        </div>
      </div>
    </div>
  </Container>
  <Cta />
</Layout>
