---
import { Icon } from 'astro-icon'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import Contactform from '@components/contactform.astro'
---

<Layout title="Let's Chat">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Let's Chat</Fragment>
      <Fragment slot="desc">We are here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          Chat with a friendly expert
        </h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Fill out the form, send us an email or give us a call.
        </p>
        <div class="mt-8">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span
              >Greenhoe Lodge, 65 Greenhoe Place,<br />Swaffham, Norfolk. PE37
              7EX</span
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:info@4dprime.com">info@4dprime.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+44 (0) 1376 350001">+44 (0) 1376 350001</a
            >
          </div>
        </div>
      </div>
      <div class="bg-slate-100 p-5 md:p-8 rounded-xl mb-5">
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
