---
import Container from '@components/container.astro'
import Cta from '@components/cta.astro'
import FeatureAlt from '@components/feature-alt.astro'
import Steps from '@components/steps.astro'
import Hero from '@components/hero.astro'
import Logos from '@components/logos.astro'
import Testimonials from '@components/testimonials.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout footerMargin={false}>
  <Hero />
  <Container>
    <Logos />
    <FeatureAlt />
  </Container>
  <Container>
    <Steps />
  </Container>

  <Container>
    <div class="mt-24">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
        Client <span class="text-indigo-800">Testimonials</span>
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center">
        4DPrime is trusted by leading companies and brands all over the world.<br
        /><a href="/testimonials" class="text-indigo-800"
          >Read more testimonials</a
        >.
      </p>
    </div>
  </Container>
  <Testimonials />

  <Cta />
</Layout>
