---
const { layout = 'marquee' } = Astro.props // 'grid', 'marquee'

import Card from '@components/card.astro'
import Container from '@components/container.astro'
import Review from '@components/review.astro'
import GarethHector from '../assets/people/gareth-hector-headshot.jpg'
import ScottKnox from '../assets/people/scott-knox-headshot.jpg'
import GlenMejias from '../assets/people/glen-mejias-headshot.jpg'
import PhilMason from '../assets/people/phil-mason-headshot.jpg'
import SimonMehlman from '../assets/people/simon-mehlman-headshot.jpg'
import JamieSimmonds from '../assets/people/jamie-simmonds-headshot.jpg'
import PhillipCampbell from '../assets/people/phillip-campbell-headshot.jpg'
import AdamThomas from '../assets/people/adam-thomas-headshot.jpg'
import NancyJardine from '../assets/people/nancy-jardine-headshot.jpg'

const testimonials = [
  {
    name: 'Gareth Hector',
    title: 'Partner at MaxHector Photography',
    image: GarethHector,
    text: '4DPrime brought us a fresh view not just on how web sites can be built and maintained but also a view on our business and what we were trying to achieve.<br><br>We think we have a site that we have not seen ever before. Unique sells.',
  },
  {
    name: 'Scott Knox',
    title: 'President & CEO at Institute of Canadian Agencies (ICA)',
    image: ScottKnox,
    text: 'I have worked with 4DPrime for over 15 years and both sides of the Atlantic. Their bespoke and business-like approach means getting to results and delivery quickly. They respond and create with a sense of purpose and urgency.<br><br>The 4DPrime team certainly set the pace for ideas and client service standards.',
  },
  {
    name: 'Glen Mejias',
    title: 'Director at Chilford Hall',
    image: GlenMejias,
    text: 'We needed a complete website overhaul and 4DPrime executed the brief well, providing us with a well-designed and more contemporary site.<br><br>Highly knowledgeable and professional at all times, I would not hesitate in recommending 4DPrime to others!',
  },
  {
    name: 'Phil Mason',
    title: 'Creative Director at Hype Studios',
    image: PhilMason,
    text: 'We approached 4DPrime to assist us with the development of an iPad app project.<br><br>From the outset Chris and his team were extremely easy to deal with and delivered a great solution within a very tight budget.',
  },
  {
    name: 'Simon Mehlman',
    title: 'Group Marketing Manager at Ascribe',
    image: SimonMehlman,
    text: '4DPrime is one of those rare companies that manages to treat customers with both professionalism and a personalised, caring service.<br><br>I have been consistently impressed by their creativity, their helpfulness and the guidance of their technical support teams throughout the construction and launch of our new corporate website.',
  },
  {
    name: 'Adam Thomas',
    title: 'Director at Gascony Experience',
    image: AdamThomas,
    text: "Through 4DPrime's expertise and clarity of thinking we now have a powerful and flexible on line tourism website.<br><br>It was a pleasure working with a great team who were always available to help and advise.",
  },
  {
    name: 'Jamie Simmonds',
    title: 'CEO at TheTin',
    image: JamieSimmonds,
    text: 'Working with the guys at 4DPrime has been really productive and beneficial to our business.<br><br>They were brought in at short notice, on an extremely technical and specialist project and hit all the deadlines and worked tirelessly to ensure the deliverables were met I would not hesitate in using them again.',
  },
  {
    name: 'Nancy Jardine',
    title:
      'Administrator at National Aerospace Technology Exploitation Programme (NATEP)',
    image: NancyJardine,
    text: 'As a (relatively new user) I cannot recommend  4dPrime highly enough for their patience when training and for their extremely prompt action to resolve any issues raised with them.',
  },
  {
    name: 'Phillip Campbell',
    title: 'Senior Analyst at Alpha Business Analysis ',
    image: PhillipCampbell,
    text: 'Rough estimates suggest that I have saved about £6,000 with 4DPrime against using another web design company to produce the same results.',
  },
]
---

{ layout == 'grid' ? (
  <Container>
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 mt-10" style="justify-items: center;" >
    <div
      class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 top-100">
    </div>
    <div
      class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
    </div>

    {testimonials.map((item) => <Review {...item} />)}
  </div>
  </Container>
) : null}

{ layout == 'marquee' ? (
  <div class="mt-10 relative overflow-x-clip">
    <div
      class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10">
    </div>
    <div
      class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
    </div>
    <div
      class="relative md:flex gap-10 overflow-hidden py-5 group"
      data-pagefind-ignore>
      <div
        class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
        {testimonials.map((item) => <Review {...item} />)}
      </div>
      <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
      <div
        class="hidden md:flex md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
        {testimonials.map((item) => <Review {...item} />)}
      </div>
    </div>
  </div>
) : null}
<!-- <div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div
    class="relative md:flex gap-10 overflow-hidden py-5 group"
    data-pagefind-ignore>
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <div
      class="hidden md:flex md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div> -->
