---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "rounded-2xl relative p-8 bg-white transition-all ring-1 ring-slate-200 shadow hover:shadow-lg",
    className,
  ]}>
  <slot />
</div>
